<div class="filter-bar">
  <mat-form-field appearance="fill" class="dept-dropdown">
    <mat-label>Department</mat-label>
    <mat-select [(ngModel)]="departmentId">
      <mat-option *ngFor="let d of departments" [value]="d.id">
        {{ d.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="search()">Search</button>
</div>

<table mat-table [dataSource]="employees" class="mat-elevation-z8" *ngIf="employees.length > 0">
  <ng-container matColumnDef="empCode">
    <th mat-header-cell *matHeaderCellDef>Emp Code</th>
    <td mat-cell *matCellDef="let e">{{ e.empCode }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let e">{{ e.name }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let e">{{ e.email }}</td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Position</th>
    <td mat-cell *matCellDef="let e">{{ e.position }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let e">
      <button mat-button (click)="view(e)">View</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
